Source: kamoso
Section: kde
Priority: extra
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: José Manuel Santamaría Lema <panfaust@gmail.com>
Build-Depends: debhelper (>= 9), pkg-kde-tools (>= 0.5.0),
 cmake, kdelibs5-dev, libkipi-dev,
 shared-desktop-ontologies,
 libqtgstreamer-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev,
 libglib2.0-dev
Standards-Version: 3.9.2
Homepage: http://www.kde-apps.org/content/show.php/Kamoso?content=111750
Vcs-Svn: svn://svn.debian.org/pkg-kde/kde-extras/kamoso/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/kde-extras/kamoso/trunk?op=log

Package: kamoso
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer0.10-x, gstreamer0.10-plugins-good
Recommends: kipi-plugins
Description: tool to take pictures and videos from your webcam
 Kamoso is a utility that does the very simple actions a webcam offers,
 like taking pictures or recording videos and adds some extra features that will
 make the webcam usage both funnier and more useful.
